<a href="/dishes">Home</a>
<h1>Add a Dish!</h1>
@model Dish
<form asp-action="InsertDish" asp-controller="Home" method="POST">
    <div class="row">
        <label asp-for="name"></label>
        <input asp-for="name" required>
    </div>
    <div class="row">
        <label asp-for="idchefs"></label>
        <select asp-for="idchefs" required>
            @foreach(var c in ViewBag.AllChefs)
            {
                <option value="@c.idchefs">@c.name</option>
            }
        </select>
    </div>
    <div class="row">
        <label asp-for="calories"></label>
        <input asp-for="calories" min="0" required>
    </div>
    <div class="row">
        <label asp-for="tastiness"></label>
        <select asp-for="tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="row">
        <label asp-for="description"></label>
        <textarea asp-for="description" required></textarea>
    </div>
    <div class="row">
        <input value="Add Dish" type="submit">
    </div>
</form>